@import '../../components/GlobalStyle/mixins';
@import '../../components/GlobalStyle/variables';

.cart {
    @include flex(flex-start, flex-start);

    @include mobile {
        flex-wrap: wrap;
    }

    &__info {
        width: 30%;
        padding: 2rem;
        margin-top: 30px;
        margin-right: 30px;
        box-shadow: $box-shadow;
        position: sticky;
        top: calc(#{$header-shrink-height} + 20px);

        @include mobile {
            width: 100%;
            position: unset;
            margin-right: 0;
            margin-bottom: 10px;
        }

        &__txt {
            & > * {
                margin-bottom: 10px;
            }
            p {
                font-size: 1.25rem;
            }

            &__price {
                font-size: 1.25rem;
                padding: 10px 0;
                @include flex(center, space-between);

                span:nth-child(2) {
                    font-size: 2rem;
                    color: $main-color;
                    font-weight: 600;
                }
            }
        }

        &__btn > * {
            margin-bottom: 10px;
        }
    }

    &__list {
        flex: 1;
    }
}
