@import '../GlobalStyle/mixins';
@import '../GlobalStyle/variables';

.product {
    @include flex(flex-start, flex-start);
    padding-bottom: 50px;

    @include mobile {
        flex-wrap: wrap;
    }

    &__imgs {
        @include flex(flex-start, flex-start);
        width: 60%;
        flex-wrap: wrap;

        @include mobile {
            width: 100%;
        }

        &__list {
            flex-direction: column;
            width: 20%;

            &__item {
                cursor: pointer;
            }
        }

        &__main {
            flex-grow: 1;
            padding-top: 100%;
            margin-bottom: 20px;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 50%;
                height: 100%;
                transform: translateX(-50%);
            }
        }
    }

    &__info {
        flex: 1;
        position: sticky;
        top: $header-shrink-height;
        padding-top: 2rem;
        margin-left: 2rem;
        margin-bottom: 2rem;

        @include mobile {
            margin-left: 1rem;
            position: relative;
            top: unset;
        }

        &__name {
            font-size: 2.5rem;
            font-weight: 600;

            @include mobile {
                font-size: 2rem;
            }
        }

        &__item {
            margin-top: 2rem;

            &__price {
                font-size: 2rem;
                color: $main-color;
                font-weight: 600;

                @include mobile {
                    font-size: 1.75rem;
                }
            }

            &__title {
                font-size: 1.5rem;
                font-weight: 600;
                margin-bottom: 1rem;

                @include mobile {
                    font-size: 1.25rem;
                }
            }

            &__list {
                @include flex(flex-start, flex-start);

                &__item {
                    @include flex(center, center);
                    margin-right: 1rem;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    border: 2px solid $txt-second-color;

                    @include mobile {
                        width: 40px;
                        height: 40px;
                    }

                    &:hover {
                        cursor: pointer;
                        border-color: $main-color;
                    }

                    &.active {
                        border: 4px solid $main-color;
                    }

                    &__circle {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;

                        @include mobile {
                            width: 30px;
                            height: 30px;
                        }
                    }

                    &__size {
                        font-size: 1.5rem;
                        text-transform: uppercase;

                        @include mobile {
                            font-size: 1.25rem;
                        }
                    }
                }
            }

            &__quantity {
                @include flex(center, flex-start);

                &__btn,
                &__show {
                    @include flex(center, center);
                    height: 30px;
                    border: 2px solid $txt-second-color;
                }

                &__btn {
                    cursor: pointer;
                    font-size: 2rem;
                }

                &__show {
                    padding: 0 2rem;
                    font-size: 1.5rem;
                    border-left: unset;
                    border-right: unset;
                }
            }

            button {
                margin-right: 1rem;
                margin-bottom: 1rem;
            }
        }
    }
}

.product-desc {
    width: 100%;
    position: relative;

    @include mobile {
        display: none;
    }

    &.mobile {
        display: none;

        @include mobile {
            display: block;
        }
    }

    &__content {
        height: 386px;
        overflow: hidden;

        &.expand {
            height: max-content;
        }

        &__title {
            font-size: 1.25rem;
            font-weight: 600;
            margin-bottom: 12px;
        }

        &__info {
            text-align: justify;
            font-size: 1rem;
        }
    }
    &__btn {
        position: absolute;
        bottom: -40px;
        left: 50%;
        transform: translateX(-50%);
    }
}
